/**,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/

html,
body,
.wrapper,
.carousel,
.content {
	height: 100%;
    margin: 0; 
    -webkit-font-smoothing: antialiased;
}

.wrapper
{
    background-color: #F5F5F5; 
    overflow: hidden; 
}

.carousel,
.content
{
    float: left; 
    min-height: 100%;
    height: 100%; 
}

.carousel
{
    width: 66%; 
    min-height: 100%; 
    /*overflow: hidden;*/ 
    z-index: 0; 
    background-color: #4B4B4D; 
}

.images
{
    height: 100%; 
}

.content
{
    position: relative; 
    width: 34%; 
    z-index: 0; 
    background-image: url(../images/office_@2X.png); 
    background-repeat: repeat;  
}

.title
{
    position: absolute; 
    height: 20%;
    width: 66%; 
    background-color: rgba(0,0,0,0.5); 
    z-index: 100;  
    transition: 0.5s; 
}
    .title:hover
    {
        cursor: pointer; 
        background-color: rgba(255,153,51,0.8);  
    }
    .svgTitle
    {
        z-index: 10; 
        height: 100%;
        width: 100%;          
    }

    #logo
    {
        float: right;
        width: 20%;
        height: 100%; 
    }


.navigation,
.text
{
    position: relative; 
    width: auto;
    /*min-height: 5em;*/
    text-align: center;  
    overflow: hidden; 
    font-family: 'Dancing Script', Gabriola, cursive;
    color: #FFFFFF;   
}

.navigation
{
    min-height: 20%;
    max-height: 20%;
    background-image: url(../images/office_@2X.png);
    z-index: 100; 
}

.navButton
{
    width: 33%;
    height: 100%; 
    background-color: #D2D3D5; 
    float: left; 
    opacity: 0.4; 
    transition: 0.5s; 
    font-family: Gabriola; 
    background-size: contain; 
    background-repeat: no-repeat;  
}
    .navButton h5
    {
        margin-top: 3.5em;
        font-size: 1.2em; 
        font-family: Gabriola; 
    }
    .navButton:hover
    {
        opacity: 1; 
        cursor: pointer;
        color: white; 
        background-color: rgba(255,153,51,0.8);      
    }

#attractions
{
    /*background-image: url(../images/attractions.png);*/
    margin-right: 0.30%; 
    margin-right: 0.15%; 
    margin-left: 0.15%; 
}

#accommodation
{
    /*background-image: url(../images/rates.png);*/
    background-size: contain; 
    margin-right: 0.3%;
}

#contact
{
    /*background-image: url(../images/contact.png);*/
    margin-left: 0.30%; 
}

.text
{    
    background-image: url(../images/content4.png); 
    background-size:cover; 
    background-repeat: no-repeat;  
    height: 100%;
    width: 100%;  
}

#textWrapper
{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    max-height: 100%;
    height: 100%; 
    overflow-y: auto; 
    transition: 0.5s; 
}

/*#textWrapper:hover
{
    height: 95% !important; 
}*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}

#description
{
    font-family: 'Alegreya Sans', sans-serif; 
    width: 80%; 
    margin: auto; 
    text-align: left; 
    word-wrap:break-word;
    word-spacing: normal; 
    line-height: normal; 
    font-size: 1.2em; 
}

    #description span
    {
        /*font-weight: bold;*/ 
        font-size: 1em; 
        color: white; 
    }
    #description .spantitle
    {
        /*font-weight: bold;*/ 
        font-family: 'Dancing Script', Gabriola, cursive;
        font-size: 1.2em; 
        color: rgba(255,153,51,0.8);
    }

/* JS Slider css */

#slides 
{
 
}

    .images
    {

    }

.slidesjs-container
{
    height: 100% !important; 
}

.slidesjs-container
{
    height: 100% !important; 
}

.slidesjs-navigation {
    position: absolute;
    z-index: 999; /* Won't work without this; goes behind the images */
    opacity: 0.5;
    transition: 0.5s; 
}
 
.slidesjs-navigation:hover
{
    opacity: 1; 
}

.slidesjs-previous 
{
    top: 50%; /* adjust this between 45 to 50 based on the size of your arrow to get the "vertically middle" position */
    left: 2%;
}

.slidesjs-next 
{
    top: 50%; /* adjust this between 45 to 50 based on the size of your arrow to get the "vertically middle" position */
    right: 36%;
}

.zephry
{
    position: absolute; 
    height: 2%;
    width: 100%;
    bottom: 0; 
    background-image:url(../images/binding_dark_@2X.png);
    transition: 0.5s; 
}
    .zephry:hover
    {
        height: 5%;
    }

#zdescription
{
    position: absolute;
    font-family: 'Alegreya Sans', sans-serif; 
    top: 20%; 
    right: 15%; 
    color: black; 
    font-size: 0.8em; 
}
#zlink
{
    height: 60%;
    width: 10%; 
    fill: black;
    position: absolute;
    right: 5%; 
    top: 20%; 
    cursor: pointer; 
}
    #zlink:hover
    {
        fill: #F58634;  
    }
    #zlogo
    {
        fill: inherit;  
    }

    
/* media query for pad */

/*@media screen and (max-width: 990px)*/
/* -----------Tablet View----------- */ 
@media only screen and (max-width : 768px) and (min-width : 481px)
{    
    html,
    body,
    wrapper
    {
        height: 100%; 
        overflow: hidden; 
    }

    html,
    body,
    .wrapper,
    .carousel,
    .title,
    .content {
	    width: 100%; 
        float: none;   
        margin: 0; 
        -webkit-font-smoothing: antialiased;
    }

    .carousel
    {
        position: relative;
        min-height: 60%;
        max-height: 60%;
        height: 60%; 
    }

    .content
    {
        /*float: none;*/ 
        position: relative;         
        min-height: 40%;
        max-height: 40%;
        height: 40%; 
    }

    .navigation
    {
        min-height: 30%;
        max-height: 30%;
        height: 30%; 
    }

    .title
    {
        position: absolute;
        top: 0;  
        height: 20%; 
        background-color: rgba(0,0,0,0.5); 
        z-index: 100;  
        transition: 0.5s; 
    }
        .title:hover
        {
            cursor: pointer; 
            background-color: rgba(255,153,51,0.8);  
        }


    .slidesjs-previous 
    {
        top: 45%; 
        left: 2%;
    }

    .slidesjs-next 
    {
        top: 45%; 
        right: 2%;
    }
} /*media query*/ 

 
/* media query for phone - LANDSCAPE */

@media screen and (max-width: 480px) and (min-width : 321px)
{
    html,
    body,
    .wrapper,
    .title,
    .content
    {
	    width: 100%;
        float: none;  
        margin: 0; 
        -webkit-font-smoothing: antialiased;
    }

    .wrapper
    {
        overflow: visible; 
        background-color: black; 
    }

    .carousel
    {
        width: 100%;
        margin: 0 auto; 
        min-height: 100%;
        max-height: 120%; 
        height: 110%;
        float: none;  
    }

    .content
    {      
        width: 100%;
        height: auto; 
    }

    .navigation
    {
        width: 100%;
        height: 40px;      
    }

    .title
    {
        position: absolute;
        bottom: 0;  
        height: 20%; 
        background-color: rgba(0,0,0,0.5); 
        z-index: 100;  
        transition: 0.5s; 
    }
        .title:hover
        {
            cursor: pointer; 
            background-color: rgba(255,153,51,0.8);  
        }

    .slidesjs-previous 
    {
        left: 2%;
        top: 35%;
    }

    .slidesjs-next 
    {
        right: 2%;
        top: 35%; 
    }
}

/* media query for phone - PORTRAIT */

 @media screen and (max-width: 320px)
{
    .wrapper
    {
        overflow: visible;  
    }

    html,
    body,
    .wrapper,
    .carousel,
    .title,
    .content {
	    width: 100%; 
        float: none;  
        margin: 0; 
        -webkit-font-smoothing: antialiased;
    }

    .wrapper
    {
        overflow: visible;  
    }

    .carousel
    {
        min-height: 45%;
        max-height: 45%; 
        height: 45%;
    }

    .content
    {
        min-height: initial; 
        max-height: initial; 
        height: auto; 
    }

    .navigation
    {
        min-height: 50px; 
        max-height: 50px; 
        height: 50px;     
    }

    .text
    {     
        height: auto; 
        width: 100%;  
    }

#textWrapper
{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    max-height: initial; 
    height: auto; 
    overflow: initial;   
    transition: 0.5s; 
}


#description
{
    font-family: 'Alegreya Sans', sans-serif; 
    width: 80%; 
    margin: auto; 
    text-align: left; 
    word-wrap:break-word;
    word-spacing: normal; 
    line-height: normal; 
    font-size: 1em; 
}

    #description span
    {
        /*font-weight: bold;*/ 
        font-size: 1em; 
        color: white; 
    }
    #description .spantitle
    {
        /*font-weight: bold;*/ 
        font-family: 'Dancing Script', Gabriola, cursive;
        font-size: 1em; 
        color: rgba(255,153,51,0.8);
    }


    .title
    {
        position: absolute;
        top: 0;  
        height: 20%; 
        background-color: rgba(0,0,0,0.5); 
        z-index: 100;  
        transition: 0.5s; 
    }
        .title:hover
        {
            cursor: pointer; 
            background-color: rgba(255,153,51,0.8);  
        }

    .slidesjs-previous 
    {
        top: 25%; /* adjust this between 45 to 50 based on the size of your arrow to get the "vertically middle" position */
        left: 2%;
    }

    .slidesjs-next 
    {
        top: 25%; /* adjust this between 45 to 50 based on the size of your arrow to get the "vertically middle" position */
        right: 2%;
    }
}/* media query */